.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  gap: 10px;

  border: 1px solid var(--color-main-black);
  border-radius: 15px;
  
  @media (max-width: 420px) {
    flex-direction: column;

    text-align: center;
  }
}